.countries {
    fill:#FFF;
    stroke: #CCC;
    stroke-width: 2px;
}


,gratLines {
    fill:none;
    stroke: #999
    Stroke-width: 1px;
 }


 .gratBack {
     fill: #D5E3ff;
 }

 .map {
     border: medium solid #999;
 }

.title{
    font-family: sans-serif;
    font-size: 1.5 em;
    font-weight: bold;
}